<div class="mt-4">
    <div class="row">
        
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
            <p>{{course.level}}</p>
        </div>
        

        <div class="col-lg-3">
            <h2>{{course.name}}</h2>
            <iframe width="930" height="523" src="https://www.youtube.com/embed/QbdskdJBZiA" title="Halsey - Without Me (Lyrics) | Charlie Puth, One Republic, Shawn Mendes,... TikTok Viral" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>