<div class="mt-4">
    {{!-- form này sẽ đc submi qua url ở action chứ kh ở trang search--}}
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
        </div>

        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <select  name="gender" class="form-control" id="gender-input" >
                <option value="" >Chọn giới tính</option>
                <option value="mail" > Nam</option>
                <option value="female" >Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>